{{#if visible}}
  <div class="card border">
    <div class="card-body">
      {{yield}}
      <h2 class="card-title project-title">
        <!-- <button class="btn play">{{fa-icon "play"}}</button>  -->
        {{#link-to "projects" project.slug}}
          {{project.title}}
        {{/link-to}}
      </h2>
      <p class="card-text">
        {{project.body}}
      </p>
    </div>
  </div>
{{/if}}