{{#if visible}}
  <div class="card border">
    <div class="card-body">
      {{yield}}
      <h2 class="card-title post-title">
        <!-- <button class="btn play">{{fa-icon "play"}}</button>  -->
        {{#link-to 'posts' post.slug}}{{post.title}}{{/link-to}}
      </h2>
      <p class="card-text">{{post.body}}</p>
    </div>
  </div>

{{/if}}
