<div class='container-fluid border'>
  <p>New Post</p>
  <form {{action 'save' title body on='submit'}}>
    <div class="form-group">
      <dt>Title:<br> <textarea cols=40 rows='1' placeholder='Title' value= {{title}} oninput={{action (mut title) value='target.value'}} /></dt>
    </div>
    <button type='submit' class='btn btn-primary'>Create</button>
  </form>
</div>
