{{#if currentProject}}
  {{audio-project-sequencer project=currentProject readOnly=true}}
{{/if}}


{{#each projects as |project|}}
  {{#index-project-item project=project}}
    <button type="button" class="btn play-btn" {{action "setCurrentProject" project}}>
      {{!-- {{fa-icon "play"}} --}}
    </button>
  {{/index-project-item}}
{{else}}
  There are no projects...
{{/each}}
