{{#if visible}}
  <h4 class="mv0">
    active users
  </h4>
    <div class="flex">
      {{#each project.activeUsers as |activeUser|}}
        {{#if activeUser.online}}
          <div class="user {{if activeUser.ondivne "online"}}">
            <img src="{{activeUser.avatar}}" title="{{activeUser.username}}" />
          </div>
        {{/if}}
      {{/each}}
    </div>

{{/if}}
{{yield}}