{{#if currentProject}}
  {{audio-project-sequencer project=currentProject readOnly=true}}
{{/if}}

<div class="flex">
  {{#each projects as |project|}}
    <IndexProjectItem @project={{project}}>
      {{mdc-card-action-icon "play_arrow" title="Play" click=(action "setCurrentProject" project)}}
    </IndexProjectItem>
  {{else}}
    There are no projects...
  {{/each}}
</div>
