<div class="flex flex-column mr3 h-100">
  {{#if (eq trackControl.interfaceName "ui-multislider")}}
    {{ui-multislider
      size=uiSize
      stepIndex=stepIndex
      sequence=sequence
      numberOfSliders=dataLength
      values=data
      onChangeValue=(action "onChangeValue")
    }}
  {{/if}}

  {{#if (eq trackControl.interfaceName "ui-slider")}}
    {{ui-slider
      max=1
      min=0
      size=uiSize
      step=0.01
      class="center"
      onChangeValue=(action "onChangeValue")
      value=data
    }}
  {{/if}}

  <div class="flex justify-between items-center">
    <span class="f7">{{trackControl.variableName}}</span>

    {{mdc-icon-button
      class="pa0"
      icon="more_vert"
      title="Track Controller Menu" 
      click=(action (mut menuOpen) true)
    }}

    {{#mdc-menu
        class="w5"
        anchor="parent"
        open=menuOpen
      }}
        {{#mdc-menu-item 
          icon="cancel" 
          click=(action "delete")
          title="Delete control"
        }} 
          delete
        {{/mdc-menu-item }}
      {{/mdc-menu}}
  </div>
</div>