<div class="flex mr3 h-100 track-control-wrapper">
  <div class="mb2 multislider-wrapper bg-dark-blue">
    {{#if (eq trackControl.interfaceName "ui-multislider")}}
      {{ui-multislider
        max=trackControl.max
        min=trackControl.min
        values=trackControl.controlDataArray
        uniqueNameAttr=trackControl.uniqueNameAttr
        size=uiSize
        stepIndex=stepIndex
        sequence=trackControl.sequence
        numberOfSliders=trackControl.sequence.length
        onChangeValue=(action "onChangeValue")
      }}
    {{/if}}
  </div>

  <div class="flex flex-column shrink-0 ml2">
    <label class="flex justify-between mv1 items-center f7 dark-gray">
      min
      {{input
        value=trackControl.min
        class="w3 bg-transparent bw1 b--black"
        keyUp=(action "updateNumberParam")
        type="number"
      }}
    </label>

    <label class="flex justify-between mv1 items-center f7 dark-gray">
      max
      {{input
        value=trackControl.max
        class="w3 bg-transparent bw1 b--black"
        keyUp=(action "updateNumberParam")
        type="number"
      }}
    </label>

    <label class="flex justify-between mv1 items-center f7 dark-gray">
      default
      {{input
        value=trackControl.defaultVal
        class="w3 bg-transparent bw1 b--black"
        keyUp=(action "updateNumberParam")
        type="number"
      }}
    </label>
    {{#mdc-button class="f7 mt2" title="Reset To Default" click=(action "setDefault")}}
      set default
    {{/mdc-button}}

  </div>

</div>