{{#mdc-list-item class="relative"}}
  <div>
    {{yield}}
  </div>

  {{ui-step-sequencer 
    sequence=track.sequence 
    stepIndex=track.stepIndex
  }}
  <button 
    type="delete" 
    class="btn btn-danger delete-track-btn" 
    {{action "deleteTrack" track bubbles=false}}
  >
    ✕
  </button>
{{/mdc-list-item}}