<div class="track-interface-switches" role="group" aria-label="toggle-interface">
  <button class="btn-xs filePicker" type="button" {{action switchInterface "filePicker"}}>
    Drum File
  </button>
  <button class="btn-xs rhythm" type="button" {{action switchInterface "rhythm"}}>
    Euclidean Rhythm
  </button>
  <button class="btn-xs steps" type="button" {{action switchInterface "steps"}}>
    Automation
  </button>
  <button class="btn-xs function" type="button" {{action switchInterface "function"}}>
    Script
  </button>
</div>