.w18 {
  width: 18rem;
}

.h14 {
  height: 14rem;
}

.min-width-12 {
  min-width: 12rem;
}

.flex-basis-auto {
  flex-basis: auto;
}
.flex-grow {
  flex-grow: 1;
}

.flex-0 {
  flex-grow: 0;
  flex-shrink: 0;
}