.h14 {
  height: 14rem;
}

.min-width-12 {
  min-width: 12rem;
}

.flex-basis-auto {
  flex-basis: auto;
}
.grow-1 {
  flex-grow: 1;
}
.grow-0 {
  flex-grow: 0;
}

.shrink-1 {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}

.flex-0 {
  flex-grow: 0;
  flex-shrink: 0;
}

.shadow-none {
  box-shadow: none;
}