@import 'ember-cli-tachyons-sass';
@import 'variables';
@import 'mixins';

@import 'components/nav-bar';

@import 'components/ui-dial';

@import 'components/edit-project';
@import 'components/edit-track';
@import 'components/audio-project-sequencer';
@import 'components/project-active-users';
@import 'components/index-project-item.scss';
@import 'components/track-function-editor';
@import 'components/drum-file-picker';
@import 'components/track-interface-switches';

.comments {
  border-radius: 5px;
  border: 2px solid black;
  width: 560px;
  margin: 20px;
  padding: 20px;
}

.add-track {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 0px auto;
    background-color: #333;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }

  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }