@import 'type';
@import 'variables';
@import 'mixins';
@import 'colors';
@import 'helpers';

@import 'components/nav-bar';

@import 'components/edit-project';
@import 'components/edit-track';
@import 'components/audio-project-sequencer';
@import 'components/project-active-users';
@import 'components/index-project-item.scss';
@import 'components/track-function-editor';
@import 'components/drum-file-picker';

@import 'ember-cli-tachyons-sass';

/*material overrides*/
:root {
  --mdc-theme-primary: #{$yellow};
  --mdc-theme-on-primary: #{$dark-gray};
  --mdc-theme-secondary: #{$light-blue};
}

html, body {
  height: 100%;
  overflow: hidden;

  > div {
    height: 100%;
  }
}

/*move this somewehre and probably redesign to better height solution*/
.tracks {
  height: calc(100% - 19.5rem);

}

.mdc-fab--mini {
  width: 2rem;
  height: 2rem;
}