@import 'ember-cli-tachyons-sass';

.min-width-12 {
  min-width: 12rem;
}

@import 'variables';
@import 'mixins';
@import 'colors';

@import 'components/nav-bar';

@import 'components/edit-project';
@import 'components/edit-track';
@import 'components/audio-project-sequencer';
@import 'components/project-active-users';
@import 'components/index-project-item.scss';
@import 'components/track-function-editor';
@import 'components/drum-file-picker';
@import 'components/track-interface-switches';

.flex-basis-auto {
  flex-basis: auto;
}
.flex-grow {
  flex-grow: 1;
}

.comments {
  border-radius: 5px;
  border: 2px solid black;
  width: 560px;
  margin: 20px;
  padding: 20px;
}
