.drum-file-header {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  h3 {
    margin: 0;
  }
}

.drum-file-picker {
  display: flex;
  overflow-x: scroll;
  text-align: left;
  button {
    background: none;
    border: 0;
    text-align: left;
    width: 100%;
    outline-color: darkgray;
    outline-width: 2px;
  }

  .directory-wrapper {
    box-shadow: 1px 1px 3px darkgray;
    flex: 0 0 33%;
    height: 200px;
    overflow-y: scroll;
    position: relative;

    li:hover {
      background-color: darkgray;
    }
    li.selected {
      background-color: darken(darkgray, 20%);
      color: lightgray;
    }

  }
}