.track-footer {
  .track-ctrl-btn-list {
    margin-bottom: -0.6rem;
  }
  .track-control-wrapper {
    .multislider-wrapper {
      min-width: 544px;
      svg {
        transform: translateY(5px);
      }
    }
  }
}