.tracks {
  width: 100%;
}

.edit-track {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: 15px;
  position: relative;

  .data-display {
    flex: 0 1 300px;
  }

  .ui-step-sequencer {
    flex: 1 0 100%;
    padding-bottom: 10px;
  }

  .gain-slider {
    background-color: gray;
    padding: 15px;
    width: 60px;
  }

  .ui-controls {
    background-color: lightgray;
    flex: 1 1 auto;
    padding: 15px;
  }

  .sequence-dials,
  .sampler-controls {
    display: flex;
    margin-top: 15px;
  }

  .sequence-dials {
    .ui-dial {
      margin-right: 15px;
    }
  }

  .delete-track {
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}


.audio-track-sampler {
  flex: 1 0 100%;
}
