.post-active-users {
  background-color: gray;
  flex: 0 1 300px;
  padding: 15px;

  @include large-screen{
    position: relative;
    right: -40px;
  }

  .users-list {
    display: flex;
    overflow: scroll;
  }

  .user {
    flex: 0 1 auto;
    opacity: .5;
    padding: 5px 0;

    img {
      width: 45px;
      height: 45px;
    }

    &.online {
      opacity: 1;
    }
  }

}
