.post-active-users {
  background-color: gray;

  .users-list {
    display: flex;
    overflow: scroll;
  }

  .user {
    flex: 0 1 auto;
    opacity: .5;
    padding: 5px 0;

    img {
      width: 45px;
      height: 45px;
    }

    &.online {
      opacity: 1;
    }
  }

}
