{{#if model}}
  {{#edit-project
    project=model
    session=session
    onSaveProject=(action "save")
    delete="delete"
    createComment="createComment"
  }}
    {{#audio-project-sequencer project=model}}
      <button
        class="btn btn-primary"
        type="button"
        onclick={{action "createTrack" model}}
      >
        add track (
        <span>
          {{model.tracks.length}}
        </span>
        )
      </button>
    {{/audio-project-sequencer}}
    {{add-track project=model session=session}}
  {{/edit-project}}
{{/if}}