<div class='row main'>
  <div class='container-fluid'>

    {{#each model as |post|}}
      <div class="card">
        <h2 class='post-title'>{{#link-to 'posts' post.slug}}{{post.title}}{{/link-to}}</h2>

        <section class='post excerpt'>
          <p>{{post.body}}</p>
          <p>{{post.user.displayName}}</p>
        </section>
      </div>
    {{else}}
      There are no posts...
    {{/each}}

  </div>
</div>
