<div class='row index-wrapper'>
  <div class='container-fluid'>
    {{#each model as |post|}}
      {{index-post-item post=post}}
    {{else}}
      There are no posts...
    {{/each}}

  </div>
</div>
