<div class='row main'>
  <div class='col-md-4'>

    {{#each model as |post|}}
      <div class="card">
        <h2 class='post-title'>{{#link-to 'posts' post.slug}}{{post.title}}{{/link-to}}</h2>

        <section class='post excerpt'>
          <p>{{post.body}}</p>
          <p>{{post.user.displayName}}</p>
          <p>{{post.testParameter}}</p>
        </section>
      </div>

    {{/each}}
  </div>
</div>
