<div class="main">

  {{#each model as |post|}}
    {{#edit-post
      post=post
      session=session
      onSavePost=(route-action 'save')
      delete='delete'
      createComment='createComment'
    }}

      {{audio-post-sequencer post=post}}

      {{add-track
        post=post
        session=session
        onCreateTrack=(route-action 'createTrack')
      }}
    {{/edit-post}}
  {{/each}}

  {{outlet}}
</div>
